<div id="page-wrapper" *ngIf="mainForm">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Customers</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <form novalidate (ngSubmit)="save()" [formGroup]="mainForm">
       <!--  <div class="row">
            <div class="col-md-6 well col-lg-offset-3">
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.dni }">
                        <input class="form-control" name="dni" placeholder="DNI"
                                formControlName="dni"  maxlength="8" />
                        <span class="help-block" *ngIf="displayMessage.dni">
                            {{displayMessage.dni}}
                        </span>
                    </div>
                </div>    
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.firstName }">
                        <input class="form-control" placeholder="Fist Name" formControlName="firstName" />
                        <span class="help-block" *ngIf="displayMessage.firstName">
                            {{displayMessage.firstName}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.lastName }">
                        <input class="form-control" placeholder="Last Name" formControlName="lastName" />
                        <span class="help-block" *ngIf="displayMessage.lastName">
                            {{displayMessage.lastName}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.userName }">
                        <input class="form-control" placeholder="User Name" formControlName="userName" />
                        <span class="help-block" *ngIf="displayMessage.userName">
                            {{displayMessage.userName}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.email }">
                        <input class="form-control" type="email" placeholder="Email" formControlName="email" />
                        <span class="help-block" *ngIf="displayMessage.email">
                            {{displayMessage.email}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.password }">
                        <input class="form-control" type="password" placeholder="Password" formControlName="password" />
                        <span class="help-block" *ngIf="displayMessage.password">
                            {{displayMessage.password}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div [ngClass]="{'has-error': displayMessage.confirmPassword }">
                        <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
                        <span class="help-block" *ngIf="displayMessage.confirmPassword">
                            {{displayMessage.confirmPassword}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="active" formControlName="active">Active</label>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 well col-lg-offset-3">
                <div class="form-group">
                    <div class="col-md-3">
                        <a [routerLink]="['/customers']" class="btn btn-default btn-block">Back</a>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="!mainForm.valid">Save</button>
                    </div>
                </div>
            </div>
        </div> -->
    </form>
</div>
<!-- /#page-wrapper -->