<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header test">Customers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a [routerLink]="['/','customers','edit','0']" style="float: right" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i>Add</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ngx-datatable [rows]="rows" class="material" [rowHeight]="'auto'" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40"
      [columns]="columns" [externalPaging]="true" [count]="pagination.totalRecords" [offset]="pagination.currentPage-1"  (page)='setUpPage($event)'
      [limit]="pagination.pageSize" (sort)="onSort($event)"  [externalSorting]="true">
  </ngx-datatable>
    </div>
  </div>
</div>
<!-- /#page-wrapper -->

<ng-template #editTmplRow let-row="row" ngx-datatable-cell-template>
  <a [routerLink]="['/','customers','edit', row.id]">
    <i class="btn fa fa-edit"></i>
  </a>
</ng-template>
